<div class="row mt-3 align-items-center">
  <div class="col">
    <h2 class="text-white text-center">About me</h2>
    <p class="text-white">I grew up in West Hartford, Connecticut and currently live in Maynard, Massachussets with my wife Liz and our boxer dogs George (top right) and Bodie (bottom left).
      In my free time I golf, ski, video game, and play pickleball/tennis. I am also a huge New York Giants and Yankees fan!
    </p>
    <h2 class="text-white text-center">About this webiste</h2>
    <p class="text-white">This project started as a way for me to better understand Rack and the fundamentals of building a ruby web application without an out of the box framework like Rails or Sinatra.
    Help in building the website came from this article: <a href="https://thoughtbot.com/blog/ruby-rack-tutorial">A pragmatic guide to building a Rack application from scratch</a>.
    </p>
  </div>
  <div class="col">
    <img src="images/Collage_photo.jpg" alt="Collage Photo" class="float-end" style="height: 400px; width: 400px;">
  </div>
</div>