<nav class="navbar navbar-expand-lg" style="height: 100px;">
  <div class="container-fluid">
    <h1 class="navbar-brand text-white">Owen Snyder</h1>
  </div>
</nav>

<div class="container">
  <div class="row text-center">
    <div class="col">
      <img src="images/liz_owen.jpg" alt="Profile Picture" class="img-fluid" style="height: 300px; width: 300px;">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h2 class="text-white">About my development career</h2>
      <p class="text-white">After graduating from Union College in 2017, I worked in sales and acount management for various tech companies in Boston.
        In my last CSM role, I worked as the middleman between customers and engineers and gained an interest in software development from talking with my engineering team.
        When discussing with a friend she mentioned that she had done Launch Academy in Boston and loved it. After some careful consideration, doing self learning online, and discussing with family, 
        I decided I wanted to give the bootcamp a shot. I am so happy I made this life change. <br> <br> In bootcamp I learned the basic skills for web development which started with learning
        Ruby, JavaScript, CSS, and HTML. We then transitioned to learning frameworks and libraries like Sinatra, Ruby on Rails, Node.JS and React. This all led up to a group project and a personal capstone
        project.<br> <br> Currently I am working at America's Test Kitchen as a FullStack software engineer using Ruby, TypeScript, and Go. This variety of languages not only keeps my daily tasks engaging but also allows
        me to continuously expand my skill set. From developing front-end interfaces using Next.js to building robust back-end systems with Ruby on Rails, each project presents unique challenges
        and learning opportunities.</p>
    </div>
    <div class="row mt-3 align-items-center">
      <div class="col">
        <h2 class="text-white text-center">About me</h2>
        <p class="text-white">I grew up in West Hartford, Connecticut and currently live in Maynard, Massachussets with my wife Liz and our boxer dogs George (top right) and Bodie (bottom left).
          In my free time I golf, ski, video game, and play pickleball/tennis. I am also a huge New York Giants and Yankees fan!
        </p>
        <h2 class="text-white text-center">About this webiste</h2>
        <p class="text-white">This project started as a way for me to better understand Rack and the fundamentals of building a ruby web application without an out of the box framework like Rails or Sinatra.
        Help in building the website came from this article: <a href="https://thoughtbot.com/blog/ruby-rack-tutorial">A pragmatic guide to building a Rack application from scratch</a>.
        </p>
      </div>
      <div class="col">
        <img src="images/Collage_photo.jpg" alt="Collage Photo" class="float-end" style="height: 400px; width: 400px;">
      </div>
    </div>
  </div>
</div>