<nav class="navbar navbar-expand-lg" style="height: 100px;">
  <div class="container-fluid">
    <h1 class="navbar-brand text-white">Owen Snyder</h1>
  </div>
</nav>

<div class="container">
  <div class="row text-center">
    <div class="col">
      <img src="images/george.jpg" alt="Profile Picture" class="img-fluid" style="height: 300px; width: 300px;">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h2 class="text-white">About this webiste</h2>
      <p class="text-white" style="">This project started as a way for me to better understand Rack and the fundamentals of building a ruby web application without an out of the box framework like Rails or Sinatra.
      Help in building the website came from this article: <a href="https://thoughtbot.com/blog/ruby-rack-tutorial">A pragmatic guide to building a Rack application from scratch</a>.
      </p>
    </div>
    <div class="col">
      <h2 class="text-white">About my development career</h2>
      <p class="text-white" style="">After graduating from Union College in 2017, I worked in sales and acount management for various tech companies in Boston.
      In my last CSM role, I worked as the middleman between customers and engineers and gained an interest in software development from talking with my engineering team.
    When discussing with a friend she mentioned that she had done Launch Academy in Boston and loved it. After some careful consideration, doing self learning online, and discussing with family, 
  I decided I wanted to give the bootcamp a shot. I am so happy I made this life change. <br> <br> In bootcamp I learned the basic skills for web development which started with learning
Ruby, JavaScript, CSS, and HTML. Then transitioning to learning frameworks and libraries like Sinatra, Ruby on Rails, Node.JS and React.</p>
    </div>

    <h2 class="text-white">About me</h2>
    <p class="text-white" style="">Paragraph about personal life</p>
  </div>
  </div>
</div>